$dashboard-item-spacing: dynamic(20px);

.dashboard {
  //background-color: #cfcfe3;
  //background-color: #e5e5f7;
  //background-image:url(images/bg3.png);
  //background-size: cover;

  //background-image:  repeating-linear-gradient(45deg, #b7b8d3 25%, transparent 25%, transparent 75%, #b7b8d3 75%, #b7b8d3), repeating-linear-gradient(45deg, #b7b8d3 25%, #cfcfe3 25%, #cfcfe3 75%, #b7b8d3 75%, #b7b8d3);
  //background-position: 0 0, 11px 11px;
  //background-size: 22px 22px;
  //background-image:url(images/bg3.png);
  //  background-size: cover;
}



.dashboard-panel-transparan {
  //background-color: rgba(243, 237, 237, 0.3);
 // background-color: white;
  background-image:url(images/bg3.png);
    background-size: cover;
    /*
    background-repeat:   no-repeat;
    background-position:  top center;
    background-size: 100% 360px;
    */
    padding: 0;
}
.dashboard > .x-body-el {
  padding: 0;
}

.dashboard-item {
  margin: 0 $dashboard-item-spacing $dashboard-item-spacing 0;
  float: left;
  width: calc(100% - #{$dashboard-item-spacing});

  &.last-in-row {
    margin-right: 0;
  }
}

.dashboard-item2 {
  margin: 20 0 0 0;
  float: left;
  width: 100%;

  &.last-in-row {
    margin-right: 0;
  }
}

.dashboard-item3 {
  margin: -20 20 20 50;
  float: left;
  width: calc(100% - #{$dashboard-item-spacing});

  &.last-in-row {
    margin-right: 0;
  }
}

.small-100 {
  width: calc(100% - #{$dashboard-item-spacing});
}
.small-101 {
  width: 100%;
}

.small-60 {
  width: calc(60% - #{$dashboard-item-spacing});
}

.small-50 {
  width: calc(50% - #{$dashboard-item-spacing});
}

.small-40 {
  width: calc(40% - #{$dashboard-item-spacing});
}

.small-20 {
  width: calc(20% - #{$dashboard-item-spacing});
}

@media (min-width: 1000px) {
  .big-100 {
    width: calc(100% - #{$dashboard-item-spacing});
  }

  .big-101 {
    width: 100%;
  }

  .big-60 {
    width: calc(60% - #{$dashboard-item-spacing});
  }

  .big-50 {
    width: calc(50% - #{$dashboard-item-spacing});
  }

  .big-40 {
    width: calc(40% - #{$dashboard-item-spacing});
  }

  .big-33 {
    width: calc(33.3% - #{$dashboard-item-spacing});
  }
  .big-25 {
    width: calc(25% - #{$dashboard-item-spacing});
  }
  .big-20 {
    width: calc(20% - #{$dashboard-item-spacing});
  }
}

// Custom Tool type: 'wrench'
.#{$prefix}tool-type-wrench {
  @include font-icon($fa-var-wrench);
  background: none;
}

.quick-graph-panel {
  .x-panel-header {
    padding-left: 1.375em;
  }

  .x-panel-title-icon {
    position: relative;

    &:before {
      position: absolute;
      height: 1.875em;
      width: 1.875em;
      top: -0.4375em;
      left: -0.4375em;
      border-radius: 1.875em;
      background-color: #f1f1f1;
      line-height: 1.875em;
      text-align: center;
    }
  }

  .x-panel-title-text {
    padding-left: 0.53em;
  }
}

.kotak-panel {
  background: #fff;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
}

.kotak-image-container {
  height: 80px;
  width: 80px;
  float: left;
  text-align: center;
  padding-top: 20px;
}
.kotak-image-blue {
  background: #82d9ea;
}
.kotak-image-red {
  background: #ee929c;
}
.kotak-image-yellow {
  background: #ffc000;
}
.kotak-image-green {
  background: #9afca7;
}
.kotak-details-container {
  color: $progress-bar-background-color;
  line-height: 20px;
  float: left;
  padding: 10px;

  :first-child {
    margin-bottom: 4px;
    font-size: 30px;
  }
}



.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-1,
.col-md-12,
.col-md-3,
.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-12,
  .col-md-3 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.panel-body {
  padding: 15px;
}

.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.panel-body:after,
.row:after {
  clear: both;
}

/*! CSS Used from: https://sipd.go.id/ewalidata/97540fc93cf5bc30a16e34e245ce46586a8fbd1c/views/assets/font-awesome/css/font-awesome.min.css */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*! CSS Used from: https://sipd.go.id/ewalidata/97540fc93cf5bc30a16e34e245ce46586a8fbd1c/views/assets/timeline.css?t=1690204849 */
.portaldata-timeline {
  width: 100%;
}

.portaldata-timeline .timeline {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 0.5s linear;
}
/*
  .portaldata-timeline .timeline:hover {
    min-height: 400px;
  }

  .portaldata-timeline .timeline:hover .timeline-icon,
  .portaldata-timeline .timeline:hover .border {
    visibility: hidden;
    opacity: 0;
  }

  .portaldata-timeline .timeline.active:hover .timeline-content {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .portaldata-timeline .timeline.active:hover .timeline-content .list-group {
    display: block;
  }

  .portaldata-timeline .timeline.active:hover:nth-child(2n) .timeline-content {
    margin-top: 0px;
  }
  */

.portaldata-timeline .timeline-icon {
  display: block;
  text-align: center;
  padding: 32px 0 30px;
  z-index: 1;
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s ease 0s;
}

.portaldata-timeline .timeline-icon:before {
  content: "";
  width: 2px;
  height: 50%;
  background: rgb(160, 160, 160);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}

.portaldata-timeline .timeline:nth-child(2n) .timeline-icon:before {
  bottom: auto;
  top: 0;
}

.portaldata-timeline .timeline:hover .timeline-icon:before {
  background: #555;
}

.portaldata-timeline .timeline-icon i {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  background: #ffffff;
  font-size: 30px;
  color: #f44556;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.portaldata-timeline .timeline:hover .timeline-icon i {
  background: #555;
  animation: icon-load 2.5s ease 0s infinite;
  color: #fff;
}

.portaldata-timeline .border {
  background: #39ae99;
  margin-bottom: 0;
  transition: all 0.3s ease 0s;
  padding: 10px;
  color: white;
}

.portaldata-timeline .timeline.active .timeline-content {
  background: #fff;
  -webkit-animation: Aktif 1s ease infinite;
  -moz-animation: Aktif 1s ease infinite;
  -o-animation: Aktif 1s ease infinite;
  animation: Aktif 1s ease infinite;
}

.portaldata-timeline .timeline.active:hover .timeline-content {
  background-color: #39ae99 !important;
  -webkit-animation: Aktif 5s ease infinite;
  -moz-animation: Aktif 5s ease infinite;
  -o-animation: Aktif 5s ease infinite;
  animation: Aktif 5s ease infinite;
  cursor: pointer;
}

.portaldata-timeline .timeline.active .border {
  -webkit-animation: Gradient 2s ease infinite;
  -moz-animation: Gradient 2s ease infinite;
  animation: Gradient 2s ease infinite;
}

.portaldata-timeline .border .arrow-left {
  float: left;
  border-left: 20px solid #ffffff;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  margin-left: -10px;
  margin-top: -10px;
}

.portaldata-timeline .border .arrow-right {
  float: right;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  margin-right: -30px;
  margin-top: -10px;
}

.portaldata-timeline .timeline:hover .border {
  background: #555;
}

.portaldata-timeline .timeline:last-child .border {
  border-radius: 0 4px 4px 0;
}

.portaldata-timeline .timeline:nth-child(1n) .border {
  margin-bottom: 18px;
  background: linear-gradient(
    50deg,
    rgba(16, 85, 114, 1) 23%,
    rgba(20, 186, 255, 1) 49%,
    rgba(16, 85, 114, 1) 75%
  );
  background-size: 200%;
}

.portaldata-timeline .timeline:nth-child(1n) .timeline-icon:before {
  background: rgba(16, 85, 114, 1);
}

.portaldata-timeline .timeline:nth-child(2n) .border {
  margin: 25px 0 0;
  background: linear-gradient(
    50deg,
    rgba(19, 175, 174, 1) 23%,
    rgba(0, 255, 253, 1) 49%,
    rgba(19, 175, 174, 1) 75%
  );
  background-size: 200%;
}

.portaldata-timeline .timeline:nth-child(2n) {
  padding-top: 56px;
}

.portaldata-timeline .timeline:nth-child(2n) .timeline-icon:before {
  background: rgba(19, 175, 174, 1);
}

.portaldata-timeline .timeline:nth-child(3n) .border {
  background: linear-gradient(
    50deg,
    rgba(233, 126, 46, 1) 23%,
    rgba(255, 232, 215, 1) 49%,
    rgba(233, 126, 46, 1) 75%
  );
  background-size: 200%;
}

.portaldata-timeline .timeline:nth-child(3n) .timeline-icon:before {
  background: rgba(233, 126, 46, 1);
}

.portaldata-timeline .timeline:nth-child(4n) .border {
  background: #a0b975;
  background: linear-gradient(
    50deg,
    rgba(244, 69, 86, 1) 23%,
    rgba(255, 229, 231, 1) 49%,
    rgba(244, 69, 86, 1) 75%
  );
  background-size: 200%;
}

.portaldata-timeline .timeline:nth-child(4n) .timeline-icon:before {
  background: rgba(244, 69, 86, 1);
}

.portaldata-timeline .timeline:nth-child(5n) .border {
  background: linear-gradient(
    50deg,
    rgba(19, 175, 174, 1) 23%,
    rgba(0, 255, 253, 1) 49%,
    rgba(19, 175, 174, 1) 75%
  );
  background-size: 200%;
}

.portaldata-timeline .timeline:nth-child(5n) .timeline-icon:before {
  background: rgba(19, 175, 174, 1);
}

.portaldata-timeline .timeline-content {
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
  z-index: 10;
}

.portaldata-timeline .timeline-content .list-group {
  display: none;
  text-align: left;
}

.portaldata-timeline .timeline:hover .timeline-content {
  background: #555;
}

.portaldata-timeline .title {
  font-size: 18px;
  font-size: 1vw;
  font-weight: 700;
  color: #39ae99;
  text-transform: uppercase;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}

.portaldata-timeline .timeline:hover .title {
  color: #fff;
}

.portaldata-timeline .timeline.active:hover .title {
  color: #555;
}

.portaldata-timeline .timeline-content .description {
  font-size: 14px;
  color: #888;
  margin: 0;
  transition: all 0.3s ease 0s;
}

.portaldata-timeline .timeline:hover .description {
  color: #fff;
}

.portaldata-timeline .timeline.active:hover .description {
  color: #555;
}

@media only screen and (max-width: 990px) {
  .portaldata-timeline .timeline {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .portaldata-timeline .timeline-icon {
    padding-top: 0;
  }

  .portaldata-timeline .timeline:nth-child(2n) .timeline-icon {
    padding-bottom: 0;
  }

  .portaldata-timeline .border {
    margin-bottom: 10px;
  }

  .portaldata-timeline .timeline:nth-child(2n) .border {
    margin: 10px 0 0;
  }

  .portaldata-timeline .timeline-content {
    text-align: center;
  }
}

.list-group {
  overflow: hidden;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
}

.list-group-item {
  border-left: 0px solid rgb(221, 221, 221);
  border-right: 0px solid rgb(221, 221, 221);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*! CSS Used keyframes */
@keyframes icon-load {
  0% {
    transform: rotate(-12deg);
  }

  8% {
    transform: rotate(12deg);
  }

  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
    transform: rotate(24deg);
  }

  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
    transform: rotate(-24deg);
  }

  100%,
  75% {
    transform: rotate(0);
  }
}

@-webkit-keyframes Aktif {
  0% {
    background-color: rgb(255, 255, 255);
  }

  50% {
    background-color: rgb(189, 255, 134);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}

@-moz-keyframes Aktif {
  0% {
    background-color: rgb(255, 255, 255);
  }

  50% {
    background-color: rgb(189, 255, 134);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}

@keyframes Aktif {
  0% {
    background-color: rgb(255, 255, 255);
  }

  50% {
    background-color: rgb(189, 255, 134);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 200%;
  }

  100% {
    background-position: 0%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 200%;
  }

  100% {
    background-position: 0%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 200%;
  }

  100% {
    background-position: 0%;
  }
}

/*! CSS Used from: https://monevrkpd.tegalkota.go.id/emonev2023v2/assets/css/style.css */

:root {
  --bs-white-rgb: 255, 255, 255;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
h2,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
}
h2 {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.25rem;
  }
}
h6 {
  font-size: 0.875rem;
}
.row-dashboard {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row-dashboard > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66667%;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}
.card-body {
  flex: 1 1 auto;
  padding: 25px;
}
.float-start {
  float: left !important;
}
.text-end {
  text-align: right !important;
}
.text-white {
  color: rgba(255, 255, 255, 1) !important;
}
.feather {
  font-family: feather !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-award:before {
  content: "\e82e";
}
.icon-repeat:before {
  content: "\e8b6";
}
.icon-tag:before {
  content: "\e8d2";
}
.icon-shopping-cart:before {
  content: "\e905";
}
.card {
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 0 25px -5px #9e9c9e;
}
.card .card-body {
  padding: 20px 25px;
}
*:focus {
  outline: none;
}
h2,
h6 {
  color: #222;
  font-weight: 600;
}
h2 {
  font-size: 32px;
}
h6 {
  font-size: 14px;
}
.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}
.bg-c-red {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}
.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}
.bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}
@media only screen and (max-width: 575px) {
  .card {
    margin-bottom: 15px;
  }
}
.order-card {
  color: #fff;
}
.order-card i {
  font-size: 26px;
}
/*! CSS Used fontfaces */
@font-face {
  font-family: feather;
  src: url(https://monevrkpd.tegalkota.go.id/emonev2023v2/assets/fonts/feather.eot?t=1501841394106);
  src: url(https://monevrkpd.tegalkota.go.id/emonev2023v2/assets/fonts/feather.eot?t=1501841394106#iefix)
      format("embedded-opentype"),
    url(https://monevrkpd.tegalkota.go.id/emonev2023v2/assets/fonts/feather.woff?t=1501841394106)
      format("woff"),
    url(https://monevrkpd.tegalkota.go.id/emonev2023v2/assets/fonts/feather.ttf?t=1501841394106)
      format("truetype"),
    url(https://monevrkpd.tegalkota.go.id/emonev2023v2/assets/fonts/feather.svg?t=1501841394106#feather)
      format("svg");
}
