.defops-desc {
  font-size: 12px;
  color: #551d03;
  font-style: italic;
  margin-left:80px;
}

.icon-mg {
  margin-right: 5px;
  font-size: 30px !important;
}

.merah {
  color: #FF3D00 !important;
}
.hijau {
  color: rgb(5, 196, 5) !important;
}
.orange {
    color: rgb(241, 159, 51) !important;
}