.nav-tree-badge:after {
    position: absolute;
    height: 18px;
    width: 3.3em;
    display: inline-block;
    text-align: center;
    top: 50%;
    margin-top: -9px;
    right: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
}

.nav-tree-badge-hot:after {
    content: "HOT";
    background-color: #e3495a;
}

.nav-tree-badge-new:after {
    content: "NEW";
    background-color: $color-soft-blue;
}

.pop-out {
    @include box-shadow(2px 2px 8px 2px #ccc);
}

.circular {
    border-radius: 50%;
}

.x-fab {
    &.fa-google-plus {
        min-width: 16px;
        width: auto;
    }
}

.tab-modulpanel {
    background-color:transparent;
    border-radius: 10px;
}

.body-transparan {
    background-color:transparent;
}

.tab-modulpanel-cl-orange {
    border-radius: 10px;
    border-style: solid;
    border-color: #ffc107;
    border-width: 5px 1px 5px 1px;
}

.tab-modulpanel-cl-orange:hover{
    box-shadow: 0 0 25px -5px #9e9c9e;
}

.tab-modulpanel-cl-biru {
    border-radius: 10px;
    border-style: solid;
    border-color: #167abc;
    border-width: 5px 1px 5px 1px;
}

.tab-modulpanel-cl-biru:hover{
    box-shadow: 0 0 25px -5px #9e9c9e;
}

.tab-modulpanel-cl-merah {
    border-radius: 10px;
    border-style: solid;
    border-color: #e44959;
    border-width: 5px 1px 5px 1px;
}

.tab-modulpanel-cl-merah:hover{
    box-shadow: 0 0 25px -5px #9e9c9e;
}

.tab-modulpanel-cl-hijau {
    border-radius: 10px;
    border-style: solid;
    border-color: #9cc96b;
    border-width: 5px 1px 5px 1px;
}
.tab-modulpanel-cl-hijau:hover{
    box-shadow: 0 0 25px -5px #9e9c9e;
}

.x-textfield .x-input-wrap-el {
    border-radius: 5px;
}

.x-field > .x-label-el {
    padding: 8px 10px 3px 0;
}

.x-form-fieldset-body-el {
    border-radius: 5px;
}

.x-form-fieldset-title {
    font-size: 14px;
}

.x-paneltitle {
    color: #131212;
}

.x-form-fieldset{
    //padding: 10 10 10 10;
}

.fieldset-bg-warning{
    --bd-callout-bg: rgba(var(--bs-warning-rgb), .075);
    --bd-callout-border: rgba(var(--bs-warning-rgb), .5);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}


.fieldset-bg-info{
    --bd-callout-bg: rgba(var(--bs-info-rgb), .075);
    --bd-callout-border: rgba(var(--bs-info-rgb), .5);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.fieldset-bg-primary{
    --bd-callout-bg: rgba(var(--bs-primary-rgb), .075);
    --bd-callout-border: rgba(var(--bs-primary-rgb), .5);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.fieldset-bg-success{
    --bd-callout-bg: rgba(var(--bs-success-rgb), .075);
    --bd-callout-border: rgba(var(--bs-success-rgb), .5);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.fieldset-bg-danger{
    --bd-callout-bg: rgba(var(--bs-danger-rgb), .075);
    --bd-callout-border: rgba(var(--bs-danger-rgb), .5);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.x-dock {
    background-color: transparent;
}

.x-paneltool .x-icon-el {
    color: #8d8a8a !important;
}

table{border-spacing:0;border-collapse:collapse;}
  td{padding:0;}
  @media print{
  *,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
  tr{page-break-inside:avoid;}
  .table{border-collapse:collapse!important;}
  .table td{background-color:#fff!important;}
  .table th{background-color:#c3d2ee!important;}
  .table-bordered td{border:1px solid #ddd!important;}
  }
  *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
  :after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
  table{background-color:transparent;}
  .table{width:100%;max-width:100%;margin-bottom:20px;}
  .table>tbody>tr>td{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd;}
  .table>thead>tr>th{background-color:#e2e8f3!important;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd;}
  .table-bordered{border:1px solid #ddd;}
  .table-bordered>tbody>tr>td{border:1px solid #ddd;}
  .table-striped>tbody>tr:nth-of-type(odd){background-color:#f9f9f9;}