// iOS native app status bar does not take up space, so we need to pad out the application by 20px
// in order to bring the app below it.
body.x-ios.x-webview.x-portrait {
  margin-top: 20px;
}

body,
html {
  height: 100%;
  background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.alert {
  position: relative;
  padding: 0.55rem;
  margin: -0.3rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

.alerttoast {
  position: relative;
  padding: 15px;
  margin: -15px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.label {
  color: #fff;
  font-size: 9px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 0 6px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label2 {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 0 6px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label-success {
  background: #27ae60;
}

.label-info {
  background: #2980b9;
}

.label-warning {
  background: #f0ad4e;
}

.label-danger {
  background: #c0392b;
}

.second-toolbar {
  visibility: hidden;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

:root {
  --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-bg-opacity:1

}


.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-border-radius:0.375rem;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.badge-biru {
  color: #fff!important;
  background-color: RGBA(var(--bs-primary-rgb),var(--bs-bg-opacity,1))!important;
}

.badge-hijau {
  color: #fff!important;
  background-color: RGBA(var(--bs-success-rgb),var(--bs-bg-opacity,1))!important;
}

.badge-grey {
  color: #fff!important;
  background-color: RGBA(var(--bs-secondary-rgb),var(--bs-bg-opacity,1))!important;
}

.badge-orange {
  color: #fff!important;
  background-color: RGBA(var(--bs-warning-rgb),var(--bs-bg-opacity,1))!important;
}

.badge-ungu {
  color: #fff!important;
  background-color: RGBA(var(--bs-info-rgb),var(--bs-bg-opacity,1))!important;
}

.icon-hijau {
  color: RGBA(var(--bs-success-rgb),var(--bs-bg-opacity,1))!important;
}

.icon-merah {
  color: RGBA(var(--bs-danger),var(--bs-bg-opacity,1))!important;
}


.badge2 {
  font-size: 95%;
  padding: 0.35em 0.6em;
  font-weight: 600;
  display: inline-block;
  padding: 0.35em 0.65em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
}

.bg-primary {
  background: linear-gradient(45deg,#4099ff,#73b4ff)!important;
}

.bg-secondary {
  background-color: rgba(108, 117, 125,1)!important;
}

.bg-success {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5)!important;
}

.bg-success2 {
  background: linear-gradient(45deg,#7cfadf,#118b01)!important;
}

.bg-danger {
  background: linear-gradient(45deg,#FF5370,#ff869a)!important;
}

.bg-info {
  background: linear-gradient(45deg,#00bcd4,#08e3ff)!important;
}

.bg-warning {
  background: linear-gradient(45deg,#FFB64D,#ffcb80)!important;
}

.bg-light {
  background: linear-gradient(45deg,#7c7b7a,#929191)!important;
}



/* LOADING ANIMATION */
.loading-screen{
      
}
.sun{
    background:radial-gradient(#ff0,#f90);
    height:50px;
    width:50px;
    border-radius:50%;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.planetX{
    position:absolute;
    z-index:100;
    border-radius:50%;
}
.planet1{
    left:20px;
    height:13px;
    width:13px;
    background-color:#ff8;
}
.planet2{
    left:23px;
    height:20px;
    width:20px;
    background:linear-gradient(#00ff00,#09f,#09f);
    -webkit-animation: rotation 1s infinite linear;
    animation: rotation 1s infinite linear;
}
.planet3{
    left:49px;
    height:17px;
    width:17px;
    background:radial-gradient(#ff9900,#ff4400);
}
.orbit{
    background:transparent;
    border-radius:50%;
    border:1px solid #fff;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.orbit1{
    height:100px;
    width:100px;
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}
.orbit2{
    height:150px;
    width:150px;
    -webkit-animation: rotation 3s infinite linear;
    -moz-animation: rotation 3s infinite linear;
    animation: rotation 3s infinite linear;


}
.orbit3{
    height:200px;
    width:200px;
    -moz-animation: rotation 6s infinite linear;
    -webkit-animation: rotation 6s infinite linear;
    animation: rotation 6s infinite linear;
}

@-webkit-keyframes rotation {
from {
    -webkit-transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(359deg);
}
}
@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}
@-moz-keyframes rotation {
from {
    -moz-transform: rotate(0deg);
}
to {
    -moz-transform: rotate(359deg);
}
}
/* LOADING ANIMATION */